
.products {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 2px solid white; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    color: white;
    padding: 1%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
  /* products */
  .products {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 2px solid white; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    color: white;
    margin: 1%;
    padding: 1%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.products:hover{
    color: #231942;
    border: 3px solid #231942;
    transform: scale(1.07);  
    transition: transform 0.3s ease-in-out; 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);  
    transition: box-shadow 0.3s ease-in-out; 
    background-color: rgb(5, 73, 116);

}
.products button:hover {  
    transform: scale(1.2);  
}   
.products img {
    width: 300px;
    height: 300px;
    transition: 0.3s;
    
}
.products h3 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.products:hover h3 {
    display: block;
    
}
.products button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.products button:hover {
    background-color: #0056b3;
}
.products a {
    color: white;
    text-decoration: none;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 1px;
     margin-left: auto;
    margin-right: auto;
}

